*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#piano{
    background-color: #fff;
    width: 100%;
    height: 30%;
    display: flex;
    color: black;
    position: absolute;
    top: 35%;
    border-radius: 10px;

}
.Q{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.W{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.E{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.R{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.T{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Y{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.U{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.I{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.O{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}
.P{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.A{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.S{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.D{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.F{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.G{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.H{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.J{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.K{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.L{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Z{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.X{
    height: 100%;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
